.datagrid-search-create{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.datagrid-search input{
    outline: none;
    border: none;
    padding: 9px 20px 9px 7.5px;
}

.datagrid-search input:focus{
    border-bottom: 1px solid black;
}

.datagrid-new-button{
    margin-bottom: 1em;
    margin-left: auto;
}