.ship-search-create{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 1em;
}

.ship-search input{
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 9px 20px 9px 7.5px;
}
.newship-button{
    margin-bottom: 1em;
}